<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-link-logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a href="#hero" class="header-link">Home</a>
        </li>
        <li class="header-list-item">
          <a href="#about" class="header-link">About Us</a>
        </li>
        <li class="header-list-item">
          <a href="#catalog" class="header-link">Catalog</a>
        </li>
        <li class="header-list-item">
          <a href="#sale" class="header-link">Sale</a>
        </li>
        <li class="header-list-item">
          <a href="#reviews" class="header-link">Reviews</a>
        </li>
        <li class="header-list-item">
          <a href="#contact-us" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="header-menu-soclinks">
      <ul class="header-social-list">
        <li class="header-soc-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="header-icons-item"
            ><svg class="header-soc-icons" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="header-icons-item"
            ><svg class="header-soc-icons" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-list-item">
          <a
            href="https://www.youtube.com/c/GoIT/"
            target="_blank"
            class="header-icons-item"
            ><svg class="header-soc-icons" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="header-mob-menu">
      <svg class="header-burger-icon">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
